# VA Project Template

This template just loads and uses a few of the discussed libraries. Please follow the instruction in Moodle and feel free to remove/update any cells below.

In [44]:
#disable some annoying warnings
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

#plots the figures in place instead of a new window
%matplotlib inline

import pandas as pd
import numpy as np

import altair as alt

import ipywidgets as widgets

# Load Data

In [45]:
# helper functions for data loading 

def getYearsOfInterest(fromYear, toYear):
    return [str(x) for x in range(fromYear, toYear+1)]

def filterData(valueColumns, metaDataColumns, data):
    missingColumns = list(set(valueColumns) - set(data.columns))
    for c in missingColumns:
        data[c] = None 
    return data[list(set(metaDataColumns) | set(valueColumns))]

def unpivot(data, key_columns, data_column, value_column):
    return pd.melt(data, id_vars=key_columns, var_name=data_column, value_name=value_column)

def loadSingleDataset(path, from_year, to_year, key_columns, data_column, value_column):
    data = pd.read_csv(path) 
    data = filterData(getYearsOfInterest(from_year, to_year), key_columns, data)
    return unpivot(data, key_columns, data_column, value_column)

def mergeDatasets(datasets, keys):
    data = datasets[0]
    
    for i in range(1, len(datasets)):
        data = data.merge(datasets[i], how='outer', left_on=keys, right_on=keys)
        
    return data

In [46]:
# global report params 
FROM_YEAR = 1900
TO_YEAR   = 2020

In [47]:
gdp_growth = loadSingleDataset('data/gdp_total_yearly_growth.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'gdp_growth')
gdp_growth.head()

       country  year gdp_growth
0  Afghanistan  1980      -0.28
1      Albania  1980       2.81
2      Algeria  1980       2.02
3      Andorra  1980       2.21
4       Angola  1980       2.73

In [48]:
children_per_woman_total_fertility = loadSingleDataset('data/children_per_woman_total_fertility.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'children_per_woman_total_fertility')
children_per_woman_total_fertility.head()

               country  year  children_per_woman_total_fertility
0          Afghanistan  1980                                7.45
1              Albania  1980                                3.62
2              Algeria  1980                                6.79
3               Angola  1980                                7.50
4  Antigua and Barbuda  1980                                2.12

In [49]:
co2_emissions_tonnes_per_person = loadSingleDataset('data/co2_emissions_tonnes_per_person.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'co2_emissions_tonnes_per_person')
co2_emissions_tonnes_per_person.head()

       country  year co2_emissions_tonnes_per_person
0  Afghanistan  1980                           0.132
1      Albania  1980                            1.93
2      Algeria  1980                            3.46
3      Andorra  1980                             NaN
4       Angola  1980                            0.64

In [50]:
mean_years_in_school_women_percent_men_25_to_34_years = loadSingleDataset('data/mean_years_in_school_women_percent_men_25_to_34_years.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'mean_years_in_school_women_percent_men_25_to_34_years')
mean_years_in_school_women_percent_men_25_to_34_years.head()

       country  year mean_years_in_school_women_percent_men_25_to_34_years
0  Afghanistan  1980                                              0.165
1      Albania  1980                                               0.92
2      Algeria  1980                                              0.906
3      Andorra  1980                                                  1
4       Angola  1980                                              0.553

In [51]:
average_age_of_dollar_billionaires_years = loadSingleDataset('data/average_age_of_dollar_billionaires_years.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'average_age_of_dollar_billionaires_years')
mean_years_in_school_women_percent_men_25_to_34_years.head()

       country  year mean_years_in_school_women_percent_men_25_to_34_years
0  Afghanistan  1980                                              0.165
1      Albania  1980                                               0.92
2      Algeria  1980                                              0.906
3      Andorra  1980                                                  1
4       Angola  1980                                              0.553

In [52]:
food_supply= loadSingleDataset('data/food_supply.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'food_supply')
food_supply.head()

               country  year food_supply
0          Afghanistan  1980        2480
1              Albania  1980        2600
2              Algeria  1980        2570
3               Angola  1980        1970
4  Antigua and Barbuda  1980        1970

## TODO 
* Add more datasets and then merge them in the following cell

In [53]:
hourly_compensation = loadSingleDataset('data/hourly_compensation.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'hourly_compensation')
hourly_compensation.head()

      country  year hourly_compensation
0   Argentina  1980                None
1     Armenia  1980                None
2   Australia  1980                None
3     Austria  1980                None
4  Azerbaijan  1980                None

In [54]:
income_per_person= loadSingleDataset('data/income_per_person.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'income_per_person')
income_per_person.head()

       country  year  income_per_person
0  Afghanistan  1980               2020
1      Albania  1980               4180
2      Algeria  1980              11200
3      Andorra  1980              32100
4       Angola  1980               5110

In [55]:
suicide_per_100000_people = loadSingleDataset('data/suicide_per_100000_people.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'suicide_per_100000_people')
suicide_per_100000_people.head()

               country  year suicide_per_100000_people
0              Albania  1980                       NaN
1  Antigua and Barbuda  1980                       NaN
2            Argentina  1980                      7.36
3              Armenia  1980                       NaN
4            Australia  1980                      10.9

In [56]:
total_number_of_dollar_billionaires = loadSingleDataset('data/total_number_of_dollar_billionaires.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'total_number_of_dollar_billionaires')
total_number_of_dollar_billionaires.head()

       country  year total_number_of_dollar_billionaires
0  Afghanistan  1980                                None
1      Albania  1980                                None
2      Algeria  1980                                None
3      Andorra  1980                                None
4       Angola  1980                                None

In [57]:
working_hours_per_week = loadSingleDataset('data/working_hours_per_week.csv', 
                               FROM_YEAR, TO_YEAR, 
                               ['country'], 
                               'year', 
                               'working_hours_per_week')
working_hours_per_week.head()

     country  year working_hours_per_week
0    Albania  1980                    NaN
1    Algeria  1980                    NaN
2  Argentina  1980                    NaN
3    Armenia  1980                    NaN
4  Australia  1980                    NaN

## The final merged dataset

* Call mergeDatasets function to form the final dataset
* Augment data with additional attributes (e.g. continent and region data for _'country'_ and decade for _'year'_)

In [58]:
# merge the datasets in one that contains all the data
data = mergeDatasets([
    gdp_growth, 
    children_per_woman_total_fertility,
    co2_emissions_tonnes_per_person,
    mean_years_in_school_women_percent_men_25_to_34_years,
    average_age_of_dollar_billionaires_years,
    food_supply,
    hourly_compensation,
    income_per_person,
    suicide_per_100000_people,
    total_number_of_dollar_billionaires,
    working_hours_per_week
], ['country', 'year'])

data.sort_values(by=['country', 'year'], inplace=True, ignore_index=True)


countries = pd.read_csv('data/countryContinent.csv')

data = data.merge(countries, how='left', left_on=['country'], right_on=['country'])
data = data.convert_dtypes()

#add 'decade' computed column 
data['decade'] = data['year'].str.slice(0, 3)  + '0'

#check for missing countries (they have to be corrected in countryContinent.csv)
missing_countries = data[data["region_code"].isnull()]['country'].unique()

if (len(missing_countries) == 0):
    print("Country mapping is OK")
else:
    print(missing_countries)

Country mapping is OK

In [60]:
# basic statistics of the loaded data 
print(data.count())
data.head(50)

country                                                  23595
year                                                     23595
gdp_growth                                               22094
children_per_woman_total_fertility                       22264
co2_emissions_tonnes_per_person                          15722
mean_years_in_school_women_percent_men_25_to_34_years     8602
average_age_of_dollar_billionaires_years                   776
food_supply                                               8022
hourly_compensation                                        483
income_per_person                                        23353
suicide_per_100000_people                                 2992
total_number_of_dollar_billionaires                        776
working_hours_per_week                                    1643
code_2                                                   23474
code_3                                                   23595
country_code                                             23595
iso_3166_2                                               23595
continent                                                23595
sub_region                                               23595
region_code                                              23595
sub_region_code                                          23595
decade                                                   23595
dtype: int64

,country,year,gdp_growth,children_per_woman_total_fertility,co2_emissions_tonnes_per_person,mean_years_in_school_women_percent_men_25_to_34_years,average_age_of_dollar_billionaires_years,food_supply,hourly_compensation,income_per_person,...,working_hours_per_week,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,decade
0,Afghanistan,1900,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1090,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
1,Afghanistan,1901,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1110,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
2,Afghanistan,1902,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1120,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
3,Afghanistan,1903,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1140,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
4,Afghanistan,1904,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1160,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
5,Afghanistan,1905,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1180,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
6,Afghanistan,1906,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1200,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
7,Afghanistan,1907,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1220,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
8,Afghanistan,1908,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1240,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
9,Afghanistan,1909,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1260,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1900
10,Afghanistan,1910,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1280,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
11,Afghanistan,1911,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1300,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
12,Afghanistan,1912,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1320,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
13,Afghanistan,1913,1.05,7.00,NaN,NaN,NaN,<NA>,NaN,1340,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
14,Afghanistan,1914,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1360,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
15,Afghanistan,1915,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1380,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
16,Afghanistan,1916,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1400,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
17,Afghanistan,1917,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1430,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
18,Afghanistan,1918,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1450,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
19,Afghanistan,1919,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1470,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1910
20,Afghanistan,1920,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1490,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
21,Afghanistan,1921,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1520,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
22,Afghanistan,1922,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1540,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
23,Afghanistan,1923,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1570,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
24,Afghanistan,1924,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1600,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
25,Afghanistan,1925,1.42,7.00,NaN,NaN,NaN,<NA>,NaN,1620,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
26,Afghanistan,1926,1.42,7.03,NaN,NaN,NaN,<NA>,NaN,1650,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
27,Afghanistan,1927,1.42,7.05,NaN,NaN,NaN,<NA>,NaN,1680,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
28,Afghanistan,1928,1.42,7.08,NaN,NaN,NaN,<NA>,NaN,1710,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
29,Afghanistan,1929,1.42,7.11,NaN,NaN,NaN,<NA>,NaN,1740,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1920
30,Afghanistan,1930,1.42,7.14,NaN,NaN,NaN,<NA>,NaN,1760,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
31,Afghanistan,1931,1.42,7.16,NaN,NaN,NaN,<NA>,NaN,1790,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
32,Afghanistan,1932,1.42,7.19,NaN,NaN,NaN,<NA>,NaN,1820,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
33,Afghanistan,1933,1.42,7.21,NaN,NaN,NaN,<NA>,NaN,1850,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
34,Afghanistan,1934,1.42,7.24,NaN,NaN,NaN,<NA>,NaN,1880,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
35,Afghanistan,1935,1.42,7.26,NaN,NaN,NaN,<NA>,NaN,1910,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
36,Afghanistan,1936,1.42,7.29,NaN,NaN,NaN,<NA>,NaN,1940,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
37,Afghanistan,1937,1.42,7.31,NaN,NaN,NaN,<NA>,NaN,1970,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
38,Afghanistan,1938,1.42,7.33,NaN,NaN,NaN,<NA>,NaN,2000,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
39,Afghanistan,1939,1.42,7.36,NaN,NaN,NaN,<NA>,NaN,2030,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1930
40,Afghanistan,1940,1.42,7.38,NaN,NaN,NaN,<NA>,NaN,2060,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
41,Afghanistan,1941,1.42,7.40,NaN,NaN,NaN,<NA>,NaN,2090,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
42,Afghanistan,1942,1.42,7.42,NaN,NaN,NaN,<NA>,NaN,2130,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
43,Afghanistan,1943,1.42,7.44,NaN,NaN,NaN,<NA>,NaN,2160,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
44,Afghanistan,1944,1.42,7.46,NaN,NaN,NaN,<NA>,NaN,2190,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
45,Afghanistan,1945,1.42,7.48,NaN,NaN,NaN,<NA>,NaN,2220,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
46,Afghanistan,1946,1.42,7.50,NaN,NaN,NaN,<NA>,NaN,2260,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
47,Afghanistan,1947,1.42,7.52,NaN,NaN,NaN,<NA>,NaN,2290,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
48,Afghanistan,1948,1.42,7.54,NaN,NaN,NaN,<NA>,NaN,2320,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940
49,Afghanistan,1949,1.42,7.56,0.00192,NaN,NaN,<NA>,NaN,2360,...,NaN,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142,34,1940

# Show Data

In [93]:
# simple plots

In [95]:
#NB! the code will be fixed

base_chart = alt.Chart(data).mark_point().encode(
    x='decade:Q',
    y='children_per_woman_total_fertility:Q'
)

# https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Selection-widgets
@widgets.interact(x = ['decade', 'children_per_woman_total_fertility', 'mean_years_in_school_women_percent_men_25_to_34_years'])
def show_plot(x):
    # You have to return the chart to make it visible.
    return base_chart.encode(
    x=x,
)

interactive(children=(Dropdown(description='x', options=('decade', 'children_per_woman_total_fertility', 'mean